/* Start Main Rules  */
:root {
    --black:#1E293B;
    --blue:#0093E9;
    --white: #FDFDFD;
    --shadow: 0 0 10px #ddd;
    --transition: .3s;
    --hover: #0681c9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white) !important;
}

ul {
    list-style-type: none;
}

.main-title {
    color: #0093E9 !important;
    font-size: 50px;
    border-bottom: 5px solid var(--blue);
    width: fit-content;
    padding-bottom: 10px;
}


a {
    text-decoration: none !important;
}

ul li a {
    position: relative;
}
ul li a::after {
    content: '';
    background-color: #fafafa;
    width: 0%;
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -8px;
    transition: .3s;
}

ul li a:hover::after, 
ul li a.active::after {
    width: 100%;
}

.success,
.error {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    position: fixed;
    right: 20px;
    top: 120px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    z-index: 999999;
    padding: 20px;
    border-radius: 10px;
    font-size: 22px;
}

.success{
    color: #57A6A1;
}
/* Start Dashboard  */
header {
    background-color: #0093E9 !important;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.dashboard .container {
    height: 80vh;
    display: flex;
    align-items: center;
}

.dashboard .container .boxes .box {
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: .3s;
}
.dashboard .container .boxes .box:hover {
    box-shadow: 1px 1px 10px #777;
}
.dashboard .container .boxes .box:first-of-type {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.dashboard .container .boxes .box:nth-of-type(2) {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}
.dashboard .container .boxes .box:last-of-type {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.dashboard .container .boxes .box div {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    gap: 10px;
    margin-bottom: 10px;
}

.dashboard .container .boxes .box h3 {
    font-size: 50px;
    font-weight: bold;
}

/* End Dashboard  */
/* Start Projects  */
.projects {
    padding: 120px 0;
}
.projects .container > h3 {
    font-size: 50px !important;
}
.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.projects .cards .card {
    background-color: #fafafa;
}
.projects .add-btn {
    background-color: var(--blue);
    color: #fafafa;
    padding: 10px 15px;
    box-shadow: 1px 1px 10px var(--blue);
    font-size: 22px;
    border-radius: 10px;
    transition: .3s;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999999;
}
.projects .add-btn:hover {
    background-color:var(--hover);
}

/* End Projects  */
/* Start Reviews  */
.reviews .container {
    padding: 80px 0px 120px;
}

.reviews .container .main-title {
    margin-bottom: 80px;
    font-size: 40px;
    border-width: 3px;
}

.reviews .container .main-title::after {
    height: 2px;
}

.reviews .container .option {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.reviews .container .option a {
    border: 1px solid var(--black);
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 5px;
}
.reviews .container .option a.active {
    background-color: var(--blue);
    color: var(--white);
}

.reviews .container .option i {
    font-size: 30px;
}

.reviews .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.reviews .boxes .box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    position: relative;
}
.reviews .boxes .box .delete-btn {
    font-size: 30px;
    color: tomato;
    position: absolute;
    left: -15px;
    top: -15px;
    cursor: pointer;
    transition: .3s;
}
.reviews .boxes .box .approve-btn {
    padding: 5px 15px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 5px;
    font-size: 14px;
    transition: .3s;
}
.reviews .boxes .box .approve-btn:hover {
    background-color: var(--hover);
}
.reviews .boxes .box .delete-btn:hover {
    color: red;
    transform: rotate(60deg);
}
.reviews .boxes .box .stars {
    margin-bottom: 20px;
    color: var(--blue);
}
.reviews .boxes .box p {
    width: 100%;
    margin-bottom: 20px;
    flex: 1;
    font-size: 16px;
}
.reviews .boxes .box img {
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow);
    border-radius: 50%;
}
.reviews .boxes .box .userInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.reviews .boxes .box .userInfo img {
    box-shadow: 1px 1px 10px #a3a3a3;
}
.reviews .boxes .box .userInfo h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.reviews .boxes .box .userInfo span {
    color: #777;
    font-size: 14px;
    font-weight: bold;
}

.reviews .boxes .box .date {
    text-align: left;
    font-size: 14px;
    color: #777;
    font-weight: bold;
    margin-top: 10px;
}
/* End Reviews  */

.row {
    justify-content: center;
}

form {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ddd;
    text-align: center;
    width: 500px;
}

form h3 {
    font-size: 40px;
    color: var(--blue);
    margin-bottom: 20px;
}

form label {
    font-size: 20px;
}

form input:not([type="submit"]) {
    margin: 0px auto 20px;
    
}

form input::placeholder {
    color: #777 !important;
}